name: PROD - Deploy a model

on:
  workflow_dispatch:

jobs:
  endpoint-create:
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Create Endpoint
      run: |
        echo endpoint already exists
      #az ml online-endpoint create --name diabetes-endpoint -f src/endpoint.yml --resource-group rg-dp100-labs --workspace-name mlw-dp100-labs-res
  deploy:
    runs-on: ubuntu-latest
    environment: production
    needs: endpoint-create
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    - name: Deploy The Model
      run: |
        az ml online-deployment create --name diabetes-deployment --endpoint diabetes-endpoint -f src/deployment.yml --all-traffic --resource-group rg-dp100-labs --workspace-name mlw-dp100-labs-res
